/* *todo* there are by now a lot of overrides in here -- we can just strip out all the tuning in pages etc. */

* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	font-size: 1rem;
	--user-font-scale: 1rem - 16px;
	font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

body {
	padding: 1rem 2rem;
	width: 100%;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	color: #eeeeee;
	background-color: #00253f; /* same as dark; we like it that way */
}

h1 {
	color: darkgrey;
}

h2, h3 {
	color: #61b9e8 !important;
}

p {
	color: lightgoldenrodyellow;
}

li {
	color: #d504d5 !important;
}

a, h1 a {
	color: red;
}

.menu li a {
	color: #005380;
}

.logo-subtitle {
	color: #8b0000 !important;
	font-weight: 600 !important;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eeeeee;
		background-color: #00253f;
	}
}
