---
import '../styles/global.css';
import '../styles/home.css';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site: Framer';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<script>
  console.log('we\'re here...two');
if (typeof window !== 'undefined') {
  console.log('we\'re here...three');
  window.addEventListener('load', function() {
      console.log('All assets are loaded')
  })
  window.addEventListener('turbolinks:load', function() {
      console.log('turbolinks...')
  })
  window.addEventListener('turbo:load', function() {
      console.log('turbo...')
  })
}
</script>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 2em;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			font-size: 1.2rem;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
			border-radius: 4px;
		}
	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
	</style>
</head>
<body>
	<main>
		<header>
       <!-- <Navbar name="framer" client:load> -->
			<div>
				<Logo width={60} height={80} />
				<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
				<h2>Framer</h2>
			</div>
		</header>

		<turbo-frame id="framer_one" src="/one">
		   <p>!! one this should be replaced !!</p>
		</turbo=frame>

    <turbo-frame id="framer_two" src="/two">
      <p>!! two this should be replaced !!</p>
      <a href="/two">
          Following link will replace this frame.
        </a>
    </turbo-frame>
	</main>
</body>
</html>

