---
import '../styles/global.css';
import '../styles/home.css';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site: Framer';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<script>
// import TL from "turbolinks"
// TL.start()

if (typeof window !== 'undefined') {
  console.log('we\'re in browser window...three');
  document.addEventListener('load', function() {
      console.log('All assets are loaded')
  })
  document.addEventListener('turbolinks:load', function() {
      console.log('turbolinks is loaded...')
      Turbolinks.start()
  })
  window.addEventListener('turbolinks:click', function() {
      console.log('turbolinks click...')
  })
  document.addEventListener('turbolinks:before_fetch_request', function() {
      console.log('turbolinks fetch request...')
  })
  document.addEventListener('turbolinks:before_fetch_response', function() {
      console.log('turbolinks fetch response...')
  })
  document.addEventListener('turbolinks:fetch', function() {
      console.log('turbolinks fetch request...')
  })
  document.addEventListener('turbolinks:receive', function() {
      console.log('turbolinks receive...')
  })
  document.addEventListener('turbolinks:change', function() {
      console.log('turbolinks change...')
  })
  document.addEventListener('turbolinks:update', function() {
      console.log('turbolinks update...')
  })
}
</script>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="turbolinks-cache-control" content="no-cache">

	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 2em;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			font-size: 1.2rem;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
			border-radius: 4px;
		}
	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
	</style>
</head>
<body>
	<main>
		<header>
      <Navbar name="framer2" client:load>
			<div>
				<Logo width={60} height={80} />
				<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
				<h2>Framer</h2>
			</div>
		</header>

		<turbo-frame id="frame_one" src="/one_content">
		   <p>one - this should be replaced...</p>
		</turbo-frame>

    <turbo-frame id="frame_two" src="/two_content">
      <a data_turbo="true" data-turbo-frame="frame_one" href="/one_content_b">
          Using this link will replace the first frame....
      </a>
    </turbo-frame>
	</main>
</body>
</html>

