---
import Logo from '../components/Logo.astro';
import '../styles/global.css';
import '../styles/home.css';
import {Content as IndexContent} from '../content/Index.md';
import MenuLayout from '../layouts/MenuLayout.astro'
import TurboSuspense from '../components/TurboSuspense.vue'
let title = 'My Astro Site';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 2em;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			font-size: 1.2rem;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
			border-radius: 4px;
		}
	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
        h2 {
            font-size: large !important;
            color: darkblue;
        }
        a, p a, h1 a {
            /*color: lightgreen;*/
        }
        strong {
            color: red;
        }
        em {
            color: green;
        }
        li ul li {
            color: purple;
        }
        @media (prefers-color-scheme: dark) {
            body {
                color: darkgray !important;
            }
            h2, h3 {
                color: #61b9e8;
            }
            li ul li {
                color: #fd04fd;
            }
            button {
                background-color: #bdbcbc;
            }
        }
	</style>
</head>
    <body>
        <MenuLayout>
            <main>
                <header>
                    <div>
                        <Logo width={40} height={53}/>
                        <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
                    </div>
                </header>

                <article>
                    <p>We're a little shy of content here, but not for long, and it is the first page...</p>
                </article>

                <article>
                    <p>It might be worth knowing that this was all developed in Dark Mode, so
                        it's made to look so generally, colors used to make features stand out.</p>
                    <p>As well, yes, locking the width not to alter between routes would make the presentation
                        more stable on first load, or with slow graphics...</p>
                    <p>But this is pre-development, and it's handy to be able to see consequences,
                        as in client-load vs. client-only, where there can be some intriguing
                        matters to attend to, take into account.</p>
                </article>

                <article>
                    <IndexContent/>
                </article>
            </main>
        </MenuLayout>
    </body>
</html>
