---
import {Content as OneContent} from '../content/One.md';
import '../styles/global.css';
import '../styles/home.css';
import MenuLayout from '../layouts/MenuLayout.astro'
import VueCounter from '../components/VueCounter.vue';
import TurboSuspense from '../components/TurboSuspense.vue';

let title = 'My Astro One';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 2em;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			font-size: 1.2rem;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
			border-radius: 4px;
		}
	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
		h2 {
		    font-size: large !important;
		    color: darkblue;
		}
        a, p a, h1 a {
            color: #d23131;
        }
        strong {
            color: red;
        }
        em {
            color: green;
        }
        li ul li {
            color: purple;
        }
        @media (prefers-color-scheme: dark) {
            body {
                color: darkgray !important;
            }
            h2, h3 {
                color: #61b9e8;
            }
            li ul li {
                color: #fd04fd;
            }
            button {
                background-color: #bdbcbc;
            }
        }
    </style>
</head>
<body>
    <div>
    <MenuLayout>
        <main>
            <header>
                <div>
                    <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
                </div>
            </header>

            <article>
              <h2>An article here, or a tour?</h2>
                <OneContent />
            </article>

            <VueCounter client:only="vue" />
        </main>
	</MenuLayout>
	</div>
</body>
</html>
