---
import Three from './three.astro'

const funky = function () {
    return 'I am funky...'
}

const funk = funky.toString()
---

<html lang="en">
<head></head<
<body>
    <Three dofunk={funk} something="a thing"/>
</body>
</html>
