---
import '../styles/global.css';
import '../styles/home.css';
import {Content as ThreeContent} from '../content/Three.md';
import MenuLayout from '../layouts/MenuLayout.astro'
import MdThree from '../components/MdThree.vue'
import NsdMicroLogo from '../components/NsdMicroLogo.vue'

// try this generated routes thing
export async function getStaticPaths() {
const post = { id: 1, text: 'something for a param' }
return [
    {
      params: { id: post.id },
      props: { post },
    },
    {
      params: { id: post.id + 1},
      props: { post },
    }
];
}
// following statement is confusion. imports need to be here, for component:load only...???
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
console.error ('astroProps: ' + JSON.stringify(Astro.props))
const astroProps = JSON.stringify(Astro.props)

const { id } = Astro.params
const { post } = Astro.props
console.log('Astro.params: ' + JSON.stringify(Astro.params))
console.log('Astro.props: ' + JSON.stringify(Astro.props))
console.log('Astro.props.funk: ' + JSON.stringify(Astro.props.funk))
const { doFunk = '"no funk!"' } = Astro.props
console.log('doFunk is: ' + doFunk)
// n.b. must have the return, or there isn't one, thus...boom
const funkNow = new Function ('return ' +  doFunk)
console.log('funkNow(): ' + funkNow())
const { something } = Astro.props


let title = 'My Astro Three';
const source = '## Let\'s ***Vue*** some more, from\n- our entirely ' +
            '*separate-module-formatted*\n- **Markdown** text, also... ' +
            '\n\n  - (the extra module costs in weight, but is an easy discovery means)';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 2em;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			font-size: 1.2rem;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
			border-radius: 4px;
		}
		h3 {
		    font-size: 11pt;
		}
        h3.props-talk {
            font-size: 9pt;
            color: #be833b
        }
	</style>
	<style is:global>
		h2 {
		    /*font-size: large !important;*/
		    color: darkblue;
		}
		pre {
			padding: 1rem;
		}
        strong {
            color: red;
        }
        em {
            color: green;
        }
        li ul li {
            color: purple;
        }
        @media (prefers-color-scheme: dark) {
            body {
                color: darkgray !important;
            }
            h2, h3 {
                color: #61b9e8 !important;
            }
            li ul li {
                color: #fd04fd;
            }
            button {
                background-color: #bdbcbc;
            }
        }
    </style>
	<!-- *todo* x in or out depending if turbo works on this page w/astro -->
</head>
<body>
    <div>
    <MenuLayout>
        <main>
            <header>
                <div>
                    <!--  must be client-only to work in dev, while it does continue to have vuetify  -->
                    <!--  we'll want ssr unless item is active, and client:load etc. ssr initially  -->
                    <!--  in that case, for browser view stability. Could there be a switch here?  -->
<!--                    <NsdMicroLogo catchline="more fish with good bait..." client:only="vue" />-->
                    <NsdMicroLogo catchline="more fish with good bait..." />
                    <h3 class="props-talk">Astro.props are { astroProps }</h3>
                    <h3 class="props-talk">How we are now, is { funkNow },
                        about { something }, on { title }</h3>
                    <!-- <h3>id is { id }, post is { post }</h3> -->
                </div>
            </header>

            <article>
              <p>This whole site is on Turbo now; so how does it feel, when you switch pages?</p>
            </article>

            <article>
              <MdThree source={source} client:load />
            </article>
        </main>
    </MenuLayout>
	</div>
</body>
</html>
