---
import {Content as ThreeContent} from '../content/Three.md';
import '../styles/global.css';
import '../styles/home.css';
// import MenuLayout from '../layouts/MenuLayout.vue'
import MenuLayout from '../layouts/MenuLayout.astro'
import MdThree from '../components/MdThree.vue'
import NsdMicroLogo from '../components/NsdMicroLogo.vue'

// import TurboSuspense from '../components/TurboSuspense.vue';
// import prepare from '../../../modules/ext-vue-prepare.mjs'
// try this generated routes thing
export async function getStaticPaths() {
const post = { id: 1, text: 'something for a param' }
return [
    {
      params: { id: post.id },
      props: { post },
    },
    {
      params: { id: post.id + 1},
      props: { post },
    }
];
}
// following statement is confusion. imports need to be here, for component:load only...???
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
console.error ('astroProps: ' + JSON.stringify(Astro.props))
const astroProps = JSON.stringify(Astro.props)

const { id } = Astro.params
const { post } = Astro.props
console.log('Astro.params: ' + JSON.stringify(Astro.params))
console.log('Astro.props: ' + JSON.stringify(Astro.props))
console.log('Astro.props.funk: ' + JSON.stringify(Astro.props.funk))
// const funk = new Function(Astro.props.funk)()
const { dofunk = '"no funk!"' } = Astro.props
console.log('dofunk is: ' + dofunk)
// n.b. must have the return, or there isn't one, thus...boom
const funknow = new Function ('return ' +  dofunk)
console.log('funknow(): ' + funknow())


let title = 'My Astro Three';
const source = '## Let\'s ***Vue*** some more, from\n- our entirely *separate-module-formatted*\n- **Markdown** text,\n\n also...';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 2em;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			font-size: 1.2rem;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
			border-radius: 4px;
		}
		h3 {
		    font-size: 11pt
		}
	</style>
	<style is:global>
		h2 {
		    font-size: large !important;
		    color: darkblue;
		}
		pre {
			padding: 1rem;
		}
	</style>
	<!-- *todo* x in or out depending if turbo works on this page w/astro -->
</head>
<body>
    <div>
    <MenuLayout client:load>
        <main>
            <header>
                <div>
                    <NsdMicroLogo catchline="more fish with good bait..."/>
                    <h3>Astro.props are { astroProps }</h3>
                    <h3>How we are now, is { funknow }, on { title }</h3>
                    <!-- <h3>id is { id }, post is { post }</h3> -->
                </div>
            </header>

            <article>
              <h3>The whole site is  with Turbo, now; how does it seem when you switch pages again?</h3>
                <!-- <ThreeContent />  -->
            </article>

            <article>
              <MdThree source={source} client:only="vue" />
            </article>
        </main>
    </MenuLayout>
	</div>
</body>
</html>
