---
import {Content as TwoContent} from '../content/Two.md';
import '../styles/global.css';
import '../styles/home.css';
import MenuLayout from '../layouts/MenuLayout.astro'
import MdTwo from '../components/MdTwo.vue'
import NsdMicroLogo from '../components/NsdMicroLogo.vue'
//import TurboSuspense from '../components/TurboSuspense.vue';
import MkDown from '../components/MkDown.vue'

// following statement is confusion. imports need to be here, for component:load only...???
// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
console.error ('astroProps: ' + JSON.stringify(Astro.props))
const astroProps = JSON.stringify(Astro.props)
export async function getStaticPaths() {
const post = { id: 23, text: 'something for a param' }
return {
  params: { id: post.id },
  props: { post },
};
}
const { id } = Astro.params
const { post } = Astro.props

let title = 'My Astro Two';
const source = '## Let\'s ***Vue*** some \n- freshly *own-module-formatted*\n- **Markdown**,\n\n also...';
---
<script setup>
</script>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 1.5em !important;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			font-size: 1.2rem;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
			border-radius: 4px;
		}
		h3 {
		    font-size: 11pt
		}

	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
        h2 {
            font-size: large !important;
            color: darkblue;
        }		.indenta {
          margin-left: 15px;
        }
        .experiment-para {
          margin-top: -12px;
        }
        strong {
            color: red;
        }
        em {
            color: green;
        }
        li ul li {
            color: purple;
        }
    </style>
	<!-- *todo* x in or out depending if turbo works on this page w/astro -->
</head>
<body>
    <div>
    <MenuLayout client:load>
        <main>
            <header>
                <div>
                    <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
                    <h3>This is { title }</h3>
                </div>
            </header>

            <article>
              <h3>An article with Turbo, maybe; what do you think?</h3>
                <TwoContent />
            </article>

            <article>
                <MkDown source={source} extraattr extra="extra prop" client:only="vue"/>
            </article>

            <article>
              <MdTwo source={source} client:only="vue" />
            </article>
        </main>
    </MenuLayout>
	</div>
</body>
</html>
