---
// Example: ButtonGroup.astro
// import button from './button.astro';
---
<script>

export default {
  name: "Navbar"
}
</script>

<div>
  <button title="button 1" />
  <button title="button 2" />
  <button title="button 3" />
</div>