---
import Navbar from '../components/Navbar.astro'
// import Navbar from '../components/Buttons.astro'
---
<div>
    <Navbar></Navbar>
    <slot></slot>
</div>

<style>
    /*
    body {
    }
    */
</style>

<script>
export default {
  name: "MenuLayout"
}
</script>
